<?xml version="1.0" encoding="utf-8"?>
<config>
<screen id="1">
<info>
<type>Vario</type>
<unit>mps</unit>
<posX>100</posX>
<posY>70</posY>
<size>0</size>
<id>2</id>
</info>
<info>
<type>Speed</type>
<unit>kmh</unit>
<posX>48</posX>
<posY>45</posY>
<size>1</size>
<id>0</id>
</info>
<info>
<type>LocalTime</type>
<unit>m</unit>
<posX>75</posX>
<posY>20</posY>
<size>1</size>
<id>6</id>
</info>
<info>
<type>FlightTime</type>
<unit>m</unit>
<posX>114</posX>
<posY>104</posY>
<size>1</size>
<id>7</id>
</info>
<info>
<type>WindInfo</type>
<unit>kmh</unit>
<posX>103</posX>
<posY>44</posY>
<size>2</size>
<id>19</id>
</info>
</screen>
<screen id="2">
<info>
<type>Vario</type>
<unit>mps</unit>
<posX>100</posX>
<posY>93</posY>
<size>0</size>
<id>2</id>
</info>
<info>
<type>Altitude</type>
<unit>m</unit>
<posX>115</posX>
<posY>73</posY>
<size>2</size>
<id>1</id>
</info>
<info>
<type>BackToThermal</type>
<unit>m</unit>
<posX>99</posX>
<posY>44</posY>
<size>2</size>
<id>29</id>
</info>
<info>
<type>CenterThermal</type>
<unit>m</unit>
<posX>35</posX>
<posY>55</posY>
<size>3</size>
<id>31</id>
</info>
</screen>
<screen id="3">
<info>
<type>Altitude</type>
<unit>m</unit>
<posX>67</posX>
<posY>20</posY>
<size>1</size>
<id>1</id>
</info>
<info>
<type>FloorHeight</type>
<unit>m</unit>
<posX>67</posX>
<posY>45</posY>
<size>1</size>
<id>8</id>
</info>
<info>
<type>Speed</type>
<unit>kmh</unit>
<posX>92</posX>
<posY>96</posY>
<size>1</size>
<id>0</id>
</info>
<info>
<type>Vario</type>
<unit>mps</unit>
<posX>45</posX>
<posY>73</posY>
<size>2</size>
<id>2</id>
</info>
<info>
<type>WindInfo</type>
<unit>kmh</unit>
<posX>103</posX>
<posY>44</posY>
<size>2</size>
<id>19</id>
</info>
<info>
<type>WindSpeed</type>
<unit>kmh</unit>
<posX>95</posX>
<posY>73</posY>
<size>2</size>
<id>20</id>
</info>
</screen>
<screen id="4">
<info>
<type>GraphicalHeading</type>
<unit>m</unit>
<posX>19</posX>
<posY>28</posY>
<size>0</size>
<id>11</id>
</info>
<info>
<type>VZA</type>
<unit>m</unit>
<posX>67</posX>
<posY>60</posY>
<size>1</size>
<id>24</id>
</info>
<info>
<type>HZA</type>
<unit>m</unit>
<posX>67</posX>
<posY>35</posY>
<size>1</size>
<id>25</id>
</info>
<info>
<type>FloorHeight</type>
<unit>m</unit>
<posX>93</posX>
<posY>85</posY>
<size>1</size>
<id>8</id>
</info>
<info>
<type>WindInfo</type>
<unit>kmh</unit>
<posX>103</posX>
<posY>60</posY>
<size>2</size>
<id>19</id>
</info>
<info>
<type>AirspaceName</type>
<unit>kmh</unit>
<posX>22</posX>
<posY>112</posY>
<size>3</size>
<id>26</id>
</info>
</screen>
</config>